@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    color: #1e1e2a;
}

/* HEADER */
.header-container {
    height: 100vh;
    width: 100%;
    background-color: #fff700;
    background-image: url('./img/background.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 112px;
    position: relative;
}
h1 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

@media only screen and (max-width: 768px) {
    .header-container {
        padding: 20px;
    }
    .social-media {
        display: flex;
        flex-direction: column;
    }
    .social-media a {
        margin-bottom: 10px;
    }
}

.social-media {
    margin-top: 1rem;
    display: flex;
}

.social-media a {
    text-decoration: none;
    color: #1e1e2a;
    padding: 1rem 4rem;
    border: 1px solid #1e1e2a;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
}

.social-media a:nth-child(1) {
    background-color: #fff;
} 

a:hover{
    background-color: #fff;
}

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkbox {
    height: 100px;
    width: 70px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 999;
    cursor: pointer;
    transition: .4s ease-in-out;
}
.checkbox .trace {
    width: 50px;
    height: 2px;
    background-color: #000;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
    top: 46px;
    transform: rotate(0);
}
.checkbox .trace:nth-child(2) {
    top: 36px;
    transform: rotate(0);
}
.checkbox .trace:nth-child(3) {
    top: 26px;
    transform: rotate(0);
}

#toggle {
    display: none;
}

/* MENU */

.menu {
    position: absolute;
    top: 28px;
    right: 30px;
    background-color: transparent;
    height: 4px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px #fff;
    z-index: -1;
    transition: 400ms ease-in-out 0s;
}
.menu-items {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0ms;
}

.menu-items ul {
    list-style-type: none;
}

.menu-items ul li a {
    margin: 10px 0;
    color: #1e1e2a;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
}


/* Animação do MENU */

#toggle:checked + .checkbox .trace:nth-child(3) {
    transform: rotate(45deg);
    top: 36px;
}

#toggle:checked + .checkbox .trace:nth-child(2) {
    transform: translate(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}


#toggle:checked + .checkbox .trace:nth-child(1) {
    transform: rotate(-45deg);
    top: 36px;
}

#toggle:checked + .checkbox {
    background-color: #fff;
}

#toggle:checked ~ .menu {
    box-shadow: 0px 0px 0px 100vmax #fff;
    z-index: 1;
}

#toggle:checked ~ .menu-items {
    visibility: visible;
    opacity: 1;
}

.container {
    margin: 3rem auto;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.card-skills {
    display: flex;
    width: 100%;
}
.skills {
    float: left;
    display: block;
    padding: 8px 15px;
    margin: 8px;
    text-transform: uppercase;
    transition: 0.5s ease-in-out ;
}
.skills li {
    float: left;
    display: block;
    padding: 8px 15px;
    margin: 8px;
    text-transform: uppercase;
    transition: 0.5s ease-in-out ;
    background-color: #dbdada;
}
.skills li:nth-child(even) { 
    transform: rotate(5deg);
}
.skills li:nth-child(odd) { 
    transform: rotate(-5deg);
    filter: grayscale(0.5);
    background-color: #fff700;
}
.skills li:hover:nth-child(even) { 
    background-color: #fff700;
    filter: grayscale(0.5);
    transform: scale(1.3) rotate(0deg);
    z-index: 1;
}
.skills li:hover:nth-child(odd) { 
    background-color: #fff700;
    z-index: 1;
    filter: grayscale(0.5);
    transform: scale(1.3) rotate(0deg);
}
.background-image {
    height: 350px;
    border-radius: 30%;
    background-color: #fff700;
    background-image: url('./img/sobre.png');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: grayscale(0.7   ); */
    color: white;
    transition: 0.5s ease-in-out ;
}

.card-container:hover .background-image{
    filter: grayscale(0.5);
}

.card-container:hover > .background-image .card-wrapper::before {
    height: 380px;
    width: 280px;
    opacity: 1;
    border-radius: 30%;
}

.card {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff700;
    background-image: url('./img/background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: black;
    cursor: pointer;
    transition: 0.5s ease-in-out ;
}
.card-text {
    width: 40%;
    letter-spacing: 1px;
    color: rgb(109, 109, 109);
    font-weight: lighter;
}
.text-default {
    font-size: 18px;
    letter-spacing: 1px;
    color: rgb(109, 109, 109);
    font-weight: lighter;
}
.link {
    color: #000;
    margin-right: 5px;
}
.link:hover {
    color: #fff700;
}
.card-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid #fff;
    opacity: 0;
    transition: 0.5s ease-in-out;
}
.card-wrapper h2 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper p {
    font-size: 0;
    visibility: visible;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}
.card:hover,
.background-image:hover {
    filter: grayscale(0.5);
}
.card:hover > .card-wrapper::before
{
   height: 250px;
   width: 250px;
   opacity: 1;
}

.card:hover > .card-wrapper p{
    opacity: 1;
    visibility: visible;
    font-size: 14px;
 }

 .footer {
     margin-top: 1rem;
     width: 100%;
     height: 100px;
     background-color: #fff700;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
 }